@{
    var studentName = ViewData["StudentName"];
    var captureTargetId = ViewData["CaptureTarget"];
    var captureFileName = ViewData["CaptureFileName"] ?? "homework_assignment.png";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My.QuickCampus</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/My.QuickCampus.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">My.QuickCampus</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Homework">Homework</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Assignment">Assignment</a>
                        </li>

                        <li class="nav-item">
                            <form class="header-control" method="post" asp-controller="Home" asp-action="SaveToken" asp-route-value="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                <input type="text" class="input-token" name="Token" placeholder="QuickCampus Token" /> <button type="submit" class="btn btn-sm btn-primary">Save Token</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <div style="padding-left:10px;">
                                <form class="header-control" method="post" asp-controller="Home" asp-route-value="@Url.RouteUrl(ViewContext.RouteData.Values)">
                                   <div style="float:left">
                                    <select name="Year">
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                    </select>
                                    <select name="Month">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    </div>
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="float:left">
                                        <li class="nav-item dropdown">
                                            <a style="padding-top:0" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Syncs
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><button type="submit" asp-action="SyncHomework" class="btn btn-sm btn-primary">Sync Homework</button></li>
                                                <li> <button type="submit" asp-action="SyncAssignment" class="btn btn-sm btn-primary">Sync Assignment</button></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </li>
                        @if (captureTargetId != null)
                        {
                            <li class="nav-item">
                                <button type="button" id="captureScreen" class="btn btn-sm btn-primary">Save Screenshot</button>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CompressPdf">Compress Pdf</a>
                        </li>

                    </ul>

                    <div class="d-flex">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                @studentName
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#switch-student">Switch Student</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - My.QuickCampus
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="switch-student" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Switch Student</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-controller="Home" asp-route-student="Lia" asp-action="SwitchStudent" asp-route-value="@Url.RouteUrl(ViewContext.RouteData.Values)">
                        <button type="submit" class="btn btn-sm btn-primary">Lia</button>
                    </form>
                    <form method="post" asp-controller="Home" asp-route-student="Leo" asp-action="SwitchStudent" asp-route-value="@Url.RouteUrl(ViewContext.RouteData.Values)">
                        <button type="submit" class="btn btn-sm btn-primary">Leo</button>
                    </form>
                    <form method="post" asp-controller="Home" asp-route-student="Lenin" asp-action="SwitchStudent" asp-route-value="@Url.RouteUrl(ViewContext.RouteData.Values)">
                        <button type="submit" class="btn btn-sm btn-primary">Lenin</button>
                    </form>
                </div>
                <div class="modal-footer">
                    @*  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button> *@
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script type="text/javascript">
        // These variable will be used inside the site.js
        const captureTargetId = "#@captureTargetId"; 
        const captureFileName = "@captureFileName";
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>

   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
